.reveal .slide-number {
    margin-bottom: 5px;
    font-family: Helvetica,sans-serif;
    font-size: 60px;
    background-color: rgba(0,0,0,0.75);
    border-radius: 12px;
    padding: 10px;
    line-height: 0.85;
}

.reveal .slide-number-delimiter {
    color: rgb(139, 0, 0);
    font-style: bold;
}

.reveal .progress{
    height: 4px;
}

.reveal pre.bigcode{
    margin-left: -15%;
    width: 130%;
}

.reveal pre {
    margin-left: 0;
    width: 100%;
}

.reveal pre code {
	max-height: 565px;
}
