:root {
    --r-highlight-color: rgb(255, 7, 7);
}

.permanent img {
    margin: 0;
    padding: 0;
    width: 20%;
}

.permanent {
    margin-top: -8px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.permanent .permanent-address {
    font-size: 0.5em;
}

.permanent .permanent-address a {
    text-decoration: none;
    padding: 7px 5px 3px;
    border: 2px solid #5e53c5;
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.slides ul {
    list-style-type: square;
}

.slides h4, .slides h5 {
    text-transform: none;
    margin-bottom: 30px;
}

.slides h4 {
    text-decoration: underline;
}

.slides>section .highlight {
    color: var(--r-highlight-color);
}

.slides .reference {
    padding-top: 5px;
    inline-size: 60px;
    overflow-wrap: normal;
    float: right;
    background-color: rgba(0,0,0,0.5);
}
.slides .reference p {
    font-size: 8pt;
    color: var(--r-main-color);
}

.slides .reference * {
    margin: 0;
    padding: 0;
}

.slides .reference img {
    width: 35px;
    background-color: var(--r-main-color);
    border: 2px solid var(--r-main-color);
    border-radius: 5px;
    box-shadow: 0 0 10px 3px var(--r-main-color);
}

.slides .reference .name {
    display: block;
    font-weight: bold;
    border-top: 1px solid var(--r-main-color);
}
.slides .reference .year {
    margin: 0 1px 0;
    display: inline;
}
